<ul class="nav">
  <li class="first"><%= link_to t("cpanel.menu.root_path"), '#' %></li>
  <li><%= link_to t("cpanel.menu.users"), '#' %></li>
  <li><%= link_to t("cpanel.menu.sections"), '#' %></li>
  <li><%= link_to t("cpanel.menu.nodes"), '#' %></li>
  <li><%= link_to t("cpanel.menu.wiki"), '#' %></li>
  <li><%= link_to t("cpanel.menu.topics"), '#' %></li>
  <li><%= link_to t("cpanel.menu.replies"), '#' %></li>
  <li><%= link_to t("cpanel.menu.comments"), '#' %></li>
  <li><%= link_to t("cpanel.menu.photos"), '#' %></li>
  <li><%= link_to t("cpanel.menu.site_nodes"), '#' %></li>
  <li><%= link_to t("cpanel.menu.sites"), '#' %></li>
  <li class="last"><%= link_to t("cpanel.menu.locations"), '#' %></li>
</ul>
