<ul class="nav">
  <li class="first"><%= link_to t("cpanel.menu.root_path"), '/cpanel' %></li>
  <li><%= link_to t("cpanel.menu.users"), cpanel_users_path %></li>
  <li><%= link_to t("cpanel.menu.sections"), cpanel_sections_path %></li>
  <li><%= link_to t("cpanel.menu.nodes"), cpanel_nodes_path %></li>
  <li><%= link_to t("cpanel.menu.wiki"), cpanel_wikis_path %></li>
  <li><%= link_to t("cpanel.menu.topics"), cpanel_topics_path %></li>
  <li><%= link_to t("cpanel.menu.replies"), '#' %></li>
  <li><%= link_to t("cpanel.menu.comments"), '#' %></li>
  <li><%= link_to t("cpanel.menu.photos"), '#' %></li>
  <li><%= link_to t("cpanel.menu.site_nodes"), '#' %></li>
  <li><%= link_to t("cpanel.menu.sites"), '#' %></li>
  <li class="last"><%= link_to t("cpanel.menu.locations"), '#' %></li>
</ul>
