<h1>Listing wikis</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wikis.each do |wiki| %>
      <tr>
        <td><%= wiki.title %></td>
        <td><%= wiki.content %></td>
        <td><%= link_to 'Show', [:cpanel, wiki] %></td>
        <td><%= link_to 'Edit', edit_cpanel_wiki_path(wiki) %></td>
        <td><%= link_to 'Destroy', [:cpanel, wiki], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wiki', new_cpanel_wiki_path %>
