<!DOCTYPE html>
<html>
<head>
  <title>FakeRubyChina</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">

        <h3 class="pull-left">
          <a href="/"><%= image_tag("text_logo.png") %></a>
        </h3>

        <%= render 'common/nav' %>
        <%= render 'common/search' %>
        <%= render "common/user_nav" %>

      </div>
    </div>
  </div>

  <div class="container">

    <div class="breadcrumbs menu clearfix">
      <%= render_breadcrumbs %>
    </div>

    <%= notice_message %>

    <div id="main" class="container-fluid">
      <%= yield %>
    </div>

  </div>

</body>
</html>
